# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
/static
/venv
/env
.env
runserver.sh
/media/post/*
!/media/post/default
/media/pp/*
!/media/pp/default
mydatabase