{% extends 'profile_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Profile | Hamikisan - Nepal's Online fruits and vegetables sharing center{% endblock title %}
        
{% block content %}
 <div id="prfl-update-overloay" style="display: flex;">
    <div class="prfl-update-box">
        <a href="{% url 'profile' %}" id="prfl-update-close"><span></span></a>
        <div class="prfl-update-cont">
            <div class="fl-mid">
                <div class="prfl-update-heading">{% trans "Change Phone" %}</div>
            </div>
            <div class="m-auto">
                <form action="{% url 'changePhone' %}" method="POST">
                    {% csrf_token %}
                    <div class="pd-5">
                        <label for="nameId">{% trans "New phone" %} </label>
                        <input type="number" name="phone" id="nameId">
                        <span class="err-mssg phone-err">
                                
                        </span>
                    </div>

                    <div class="pd-5">
                        <label for="change-name-passwordId">{% trans "Password" %}</label>
                        <input type="password" name="pass" id="change-name-passwordId">
                        <span class="err-mssg pass-err">
                                
                        </span>
                    </div>
                    <div class="pd-5">
                        <button name="post" class="update-btn" disabled="disabled">{% trans "Change" %}</button>
                    </div>
                    <div class="pd-5">
                        {% trans "*Note:- Phone can only be changed after 15 days of last update." %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="prfl-update-load-box"></div>
</div>
   
{% endblock %}


{% block scripts %}
<div>
    <script>
        $(document).ready(function(){
            var phone_ok = false;
            var pass_ok = false;
            $('input').keyup(function(){
                var val = $('input[name=phone]').val();
                var pass_val = $('input[name=pass]').val();
                
                if(val.length == 10 && /^\d+$/.test(val)){
                    phone_ok = true;
                    $(".phone-err").text("");
                } else {
                    phone_ok = false;
                    $(".phone-err").text("Phone should be 10 digit numbers.");
                }

                if(pass_val.length<8){
                    $(".pass-err").text("Fill your password");
                    pass_ok = false;
                } else {
                    pass_ok = true;
                    $(".pass-err").text("");
                }

                if(phone_ok && pass_ok){
                    $(".update-btn").removeAttr("disabled");
                } else {
                    $(".update-btn").attr("disabled", "disabled");
                }
            });
        });
    </script>
</div>
{% endblock  %}