{% extends 'profile_base.html' %}
{% block title %}Profile | Frutonp - Nepal's Online fruits and vegetables sharing center{% endblock title %}

{% block content %}
<div class="modal-close change-password">
    &times;
</div>
<!-- Form modal for change password -->
<div class="w-100" id="change-password-modal">
    <div class="pd-10">
        <div class="w-100">
            <h2 class="text-center sticky" style="margin: 80px 0px 60px 0px;">Change Password</h2>
            <div class="w-75 w-75-mg" style="margin: auto auto;">
                <form style="margin: 15px 0px;" action="{% url 'changePassword' %}" method="POST">
                    {% csrf_token %}
                    <div class="pd-5">
                        <label for="OpasswordId">Old Password</label>
                        <input type="password" name="oldPassword" id="OpasswordId">
                    </div>
                    <div class="pd-5">
                        <label for="NpasswordId">New Password</label>
                        <input type="password" name="newPass" id="NpasswordId">
                        <span class="err-mssg err-pss">
                            
                        </span>
                    </div>
                    <div class="pd-5">
                        <label for="CpasswordId">Confirm Password</label>
                        <input type="password" name="confPass" id="CpasswordId">
                        <span class="err-mssg err-conf-pss">
                    </div>
                    <div class="pd-5">
                        <button style="color: #eee" name="post" class="update-btn">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    <script>
        
        $(document).ready(function(){
            $('input').keyup(function(){
                var val = $('input[name=newPass]').val();
                if(/^(?=.*[a-z])(?=.*[0-9])(?=.{8,})/.test(val) === false){
                    $(".err-pss").text("Password must be at least 8 characters with lower characters and numbers");
                    $(".update-btn").attr("disabled", "disabled");
                    console.log("if");
                } else {
                    if($('input[name=newPass]').val() == $('input[name=confPass]').val()){
                        $(".update-btn").removeAttr("disabled");
                        $(".err-conf-pss").text("");
                    } else {
                        $(".err-conf-pss").text("Password does not match");
                    }
                    $(".err-pss").text("");
                    console.log("else");
                }
            });
        });
    
    </script>
{% endblock scripts %}