<div class="fl-mid">
    <div class="prfl-update-heading">Change Password</div>
</div>
<div class="m-auto">
    <form action="{% url 'changePassword' %}" method="POST">
        {% csrf_token %}
        <div class="pd-5">
            <label for="OpasswordId">Old Password</label>
            <input type="password" name="oldPassword" id="OpasswordId">
            <span class="err-mssg pass-err">
            
            </span>
        </div>
        <div class="pd-5">
            <label for="NpasswordId">New Password</label>
            <input type="password" name="newPass" id="NpasswordId">
            <span class="err-mssg err-pss">
                
            </span>
        </div>
        <div class="pd-5">
            <label for="CpasswordId">Confirm Password</label>
            <input type="password" name="confPass" id="CpasswordId">
            <span class="err-mssg err-conf-pss">
            
            </span>
        </div>
        <div class="fl-mid">
            <div class="pd-5">
                <button name="post" class="update-btn" disabled="disabled">Update</button>
            </div>
        </div>
        <div class="pd-5">
            *Note:- Use passwords with lettercase, uppercase, numbers and at least 8 characters.
        </div>
    </form>
</div>
<div>
    <script>
        $(document).ready(function(){
            $('input').keyup(function(){
                var val = $('input[name=newPass]').val();
                var pass_val = $('input[name=oldPassword]').val();
                var new_pass_ok = false;
                var old_pass_ok = false;
                if(/^(?=.*[a-z])(?=.*[0-9])(?=.{8,})/.test(val) === false){
                    $(".err-pss").text("Password must be at least 8 characters with lower characters and numbers");
                    new_pass_ok = false;
                } else {
                    if($('input[name=newPass]').val() == $('input[name=confPass]').val()){
                        new_pass_ok = true;
                        $(".err-conf-pss").text("");
                    } else {
                        new_pass_ok = false;
                        $(".err-conf-pss").text("Password does not match");
                    }
                    $(".err-pss").text("");
                }

                if(pass_val.length<8){
                    $(".pass-err").text("Fill your password");
                    old_pass_ok = false;
                } else {
                    old_pass_ok = true;
                    $(".pass-err").text("");
                }

                if(new_pass_ok && old_pass_ok){
                    $(".update-btn").removeAttr("disabled");
                } else {
                    $(".update-btn").attr("disabled", "disabled");
                }
            });
        });
    </script>
</div>