{% extends 'profile_base.html' %}
{% load static %}
{% block title %}Profile | Frutonp - Nepal's Online fruits and vegetables sharing center{% endblock title %}
        
{% block content %}
    <div class="actual-content">
        <div class="w-100 text-center" style="font-size: 22px; margin-bottom: 30px;">
            Profile
        </div>
        <div class="w-100 flex">
        <div class="w-75 w-75-mg" style="margin: 10px auto;">
            <div class="w-100 flex pp-n-detail">
                <div class="chk">
                    <div class="profile-pp">
                        {% if is_authorized %}
                            <a href="#" id="upload-pp-anc">
                                <img src="/media/{{ my_profile.pp }}" class="profile-pp" alt="Profile pic of {{ myuser.name }}">
                                <input id="uid" type="hidden" name="uid" value="{{ user.id }}"/>
                                <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                            </a>
                            <div style="margin:-3px auto 0px auto; height: auto;">
                                <button id="pp-upload" class="pp-upload" data-def-pp="{% if my_profile.pp == my_profile.default_pp %}true{% else %}false{% endif %}">Upload</button>
                            </div>
                            <div class="d-none">
                                <div>
                                    <form action='up-profile-pic' method='POST' id='pp-form' enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        <input type='file' name='pp' id='upload-pp' accept='image/jpeg,image/png' style='display: none;'>
                                    </form>
                                </div>
                                {% if my_profile.pp != my_profile.default_pp %}
                                    <div>
                                        <form action='up-profile-pic2' method='POST' id='pp-form-2' enctype='multipart/form-data'>
                                            {% csrf_token %}
                                            <input type='hidden' name='pp' id='upload-pp-2' value='//'>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <img src="/media/{{ my_profile.pp }}" class="profile-pp" alt="Profile pic of {{ myuser.name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="w-75 profile-detail" style="box-sizing: border-box; overflow: hidden;">
                    <div class="w-100">
                        <div class="profile-detail-name">
                            <div>{{ myuser.name }}</div>
                            <div class="flex">
                            {% if is_authorized %}
                                <a href="{% url 'changePhoneLocDesc' %}" title="Edit profile" class="update-profile-anchor">Edit</a>
                            {% endif %}
                            {% if is_authorized %}
                                <a id="add-post" href="{% url 'addPost' %}" class="is_modal">Add Post</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="mb-10">
                            <a href="mailto:{{ myuser }}">{{ myuser }}</a>
                            {% if is_authorized and not myuser.is_activated %}
                            <form action="{% url 'sendActivationEmail' %}?next=/profile/{{ myuser.id }}/" method="POST" class="d-in-block">
                                {% csrf_token %}
                                <button type="submit" class="not-activated-dot" title="Your email is not verified, click to send verification"></button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="mb-10">
                            <a href="tel: {{ myuser.phone1 }}">{{ myuser.phone1 }}</a>
                            {% if myuser.myuserprofile.phone2 != "" %}
                                | <a href="tel: {{ myuser.myuserprofile.phone2 }}">{{ myuser.myuserprofile.phone2 }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="mb-10">
                        {% if my_profile.location == "" %}
                            {% if is_authorized %}
                                <a href="{% url 'changePhoneLocDesc' %}" class="update-profile-anchor">Location not added yet</a>
                            {% else %}
                                <span class="dis-color">Location not added yet</span>
                            {% endif %}
                        {% else %}
                            {{ my_profile.location }}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
            
        <div class="w-75 w-75-mg" style="margin: 10px auto;">
            <div class="w-100">
                <div class="pd-10">
                    <h4>Description</h4>
                    {% if my_profile.desc == "" %}
                        <div>
                            <span style="padding: 0px 20px;">
                                {% if is_authorized %}
                                    <a href="{% url 'changePhoneLocDesc' %}" class="update-profile-anchor">No Description</a>
                                {% else %}
                                    <span class="dis-color">No Description</span>
                                {% endif %}
                            </span>
                        </div>
                    {% else %}
                        <div>
                            <span style="padding: 0px 20px;">
                                {{ my_profile.desc }}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="w-100">
                <div class="pd-10">
                    <div class="w-100">
                        <div class="profile-box">
                            <div class="w-100 flex">
                                <div id="post" class="prfl-box-ttl prfl-active">
                                    Posts (<span>{{ myuser.post_set.all.count }}</span>)
                                </div>
                                {% if is_authorized %}
                                    <div id="my-account" class="prfl-box-ttl">
                                        My account
                                    </div>
                                    <div id="records" class="prfl-box-ttl">
                                        Records
                                    </div>
                                {% endif %}
                            </div> 
                            <div class="w-100">
                                <div class="w-100">
                                    <div id="post-content" class="prfl-box-content">
                                        <ol aria-sort="ascending">
                                        {% for post in myuser.post_set.all|slice:max_post %}
                                            <li>
                                                <a class="post-ttl" href="{% url 'post' post.id %}">{{post.outerFood}}</a>
                                                <div>
                                                    <span class="post-date">{{post.uploaded_at|date:"b d, Y"}}</span> 
                                                    {% if is_authorized %}
                                                        <a href="{% url 'editPost' post.id %}" class="post-edit">Edit</a>
                                                        <a href="#" class="post-del" data-pid="{{ post.id }}">Del</a>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% empty %}
                                            <li class="dis-color">No post</li>
                                        {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                                {% if is_authorized %}
                                    <div class="w-100">
                                        <div id="my-account-content" class="prfl-box-content">
                                            <div class="w-100">
                                                <div>
                                                    <a id="change-name" href="{% url 'changeName' %}" class="is_modal update-profile-anchor">Change Name</a>
                                                </div>
                                                <div>
                                                    <a id="change-phone" href="{% url 'changePhone' %}" class="is_modal update-profile-anchor">Change Phone</a>
                                                </div>
                                                <div>
                                                    <a id="change-password" href="{% url 'changePassword' %}" class="is_modal update-profile-anchor">Change Password</a>
                                                </div>
                                                <div>
                                                    <a id="change-phone" href="{% url 'changePhoneLocDesc' %}" class="is_modal update-profile-anchor">Update More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="chx0dmxd"></div>
    <div id="prfl-update-overloay">
        <div class="prfl-update-box">
            <div id="prfl-update-inner-load" class="prfl-update-inner-load"></div>
            <span id="prfl-update-close"><span></span></span>
            <div class="prfl-update-cont">

            </div>
        </div>
        <div class="prfl-update-load-box"></div>
    </div>

    <footer class="w-100">
        <div class="text-center cprt">
            &copy;Copyright 2020 Frutonp.com. All rights are reserved.
        </div>
    </footer>    
{% endblock content %}

{% block cookie %}
    {% if not cookie_law %}
        <div class="cookie-alert-all flex">
            <div class="cookie-alert-content w-90" style="color: white;">We use cookies to ensure you have the best browsing experience on our website. By using our site, you acknowledge that you have read and understood our <a href="" style="border-bottom: 1px solid white; color: white;">Cookie Policy</a> & <a href="" style="border-bottom: 1px solid white; color: white;">Privacy Policy</a></div>
            <div style="width: 75px; padding: 0px 10px; margin-top: 10px;"> <a class="cookie-accept" href="javascript:void(0);">Accept</a></div>
        </div>
    {% endif %}
{% endblock cookie %}
    
{% block scripts %}
    <div><script src="{% static 'js/profile_all.js' %}?version=33"></script></div>
    <script>
    $(document).ready(function(){
        var load_elips = Pop.load_elips;
        var my_load = Pop.my_load;
        function errorMessageHandler(guess, sol, extra, timeout=20000){
            $(".act-guess").html(guess);
            $(".act-sol").html(sol ?? "Try again or reload the page.");
            $(".act-extra").html(extra ?? "Reload");
            $(".act-div").css({"bottom": "0px"});
            setTimeout(function(){
                $(".act-div").css({"bottom": "-1000px"});
            }, timeout); 
        }

        $(".update-profile-anchor").on("click", function(e){
            e.preventDefault();
            $("#prfl-update-overloay").css("display", "flex").hide().fadeIn(400);
            $("body").addClass("o-hidden");
            $(".prfl-update-box").addClass("d-none");
            $(".prfl-update-load-box").html(load_elips);
            $.get($(this).attr('href'), function(response){
                $(".prfl-update-load-box").html('');
                $(".prfl-update-box").removeClass("d-none");
                $(".prfl-update-cont").html(response);
            })
        });
        $(document).on("submit", "#prfl-update-overloay form", function(e){
            e.preventDefault();
            var id_of_form = $(this).attr('id');
            $("#prfl-update-inner-load").css("display", "flex").hide().fadeIn(200);
            $("#prfl-update-inner-load").html(my_load);
            var req = $.post($(this).attr('action'), $(this).serialize());
            req.done(function(response){
                console.log(response);
                if('redirect' in response){
                    window.location.reload(false);
                }
                $("#prfl-update-inner-load").fadeOut(200);
                $("#prfl-update-inner-load").html('');
                if('error' in response){
                    if(!response.wait){
                        $("#prfl-update-close").trigger('click');
                    } 
                    $('#prfl-update-overloay form input[type=password]').val('');
                    $('#prfl-update-overloay form button').attr('disabled', '');
                    errorMessageHandler('Could not make an update.', `"${response.error}"`, '');
                } 
                if('success' in response){
                    $("#prfl-update-close").trigger('click');
                    errorMessageHandler(response.success, 'To see recent update: ');
                }
                if('phone2' in response){
                    $("input[name=phone2]").val(response.phone2);
                }
                if('desc' in response){
                    $("textarea[name=description]").val(response.desc);
                }
                if('location' in response){
                    $("input[name=location]").val(response.location);
                }
                if('email_sent_for_verification' in response) {
                    $("#prfl-update-close").trigger('click');
                    errorMessageHandler('Please check your email to verify your account', '', '');
                }
            });
        });
        $("#prfl-update-close").on("click", function(){
            $("#prfl-update-overloay").fadeOut(400);
            $("body").removeClass("o-hidden");
        });
    });  
    </script>
{% endblock scripts %}
