{% load i18n %}
{% for post in posts %}
    <li>
        <a class="post-ttl" href="{% url 'post' post.id %}">{{post.outerFood}}</a>
        <div>
            <span class="post-date">{{post.uploaded_at|date:"b d, Y"}}</span>
            {% if user == post.myuser %} 
                <a href="{% url 'editPost' post.id %}" class="post-edit">{% trans "Edit" %}</a>
                <a href="" class="post-del">{% trans "Del" %}</a>
            {% endif %}
        </div>
    </li>
{% endfor %}
{% if obj_finished %}
    <li class="d-none"></li>
{% endif %}