{% extends 'profile_base.html' %}
{% load static %}
{% block title %}Profile | Frutonp - Nepal's Online fruits and vegetables sharing center{% endblock title %}
        
{% block content %}
    <div class="actual-content">
        <div class="w-100 text-center" style="font-size: 22px; margin-bottom: 30px;">
            Profile
        </div>
        <div class="w-100 flex">
        <div class="w-75 w-75-mg" style="margin: 10px auto;">
            <div class="w-100 flex pp-n-detail">
                <div class="chk">
                    <div class="profile-pp">
                        {% if is_authorized %}
                            <a href="{% url 'addPost' %}" title="Add post">
                                <img src="/media/{{ my_profile.pp }}" class="profile-pp" alt="Profile pic of {{ myuser.name }}">
                                <input id="uid" type="hidden" name="uid" value="{{ user.id }}"/>
                                <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                            </a>
                            <div style="margin:-3px auto 0px auto; height: auto;">
                                <button id="pp-upload" class="pp-upload" data-def-pp="{% if my_profile.pp == my_profile.default_pp %}true{% else %}false{% endif %}">Upload</button>
                            </div>
                            <div class="d-none">
                                <div>
                                    <form action='up-profile-pic' method='POST' id='pp-form' enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        <input type='file' name='pp' id='upload-pp' accept='image/jpeg,image/png' style='display: none;'>
                                    </form>
                                </div>
                                {% if my_profile.pp != my_profile.default_pp %}
                                    <div>
                                        <form action='up-profile-pic2' method='POST' id='pp-form-2' enctype='multipart/form-data'>
                                            {% csrf_token %}
                                            <input type='hidden' name='pp' id='upload-pp-2' value='//'>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <img src="/media/{{ my_profile.pp }}" class="profile-pp" alt="Profile pic of {{ myuser.name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="w-75 profile-detail" style="box-sizing: border-box; overflow: hidden;">
                    <div class="w-100">
                        <div class="profile-detail-name">
                            <div>{{ myuser.name }}</div>
                            {% if is_authorized %}
                                <a href="{% url 'changePhoneLocDesc' %}" title="Edit profile">Edit <i class="fas fa-plus"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="mb-10">
                            <a href="mailto:{{ myuser }}">{{ myuser }}</a>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="mb-10">
                            <a href="tel: {{ myuser.phone1 }}">{{ myuser.phone1 }}</a>
                            {% if myuser.myuserprofile.phone2 != "" %}
                                | <a href="tel: {{ myuser.myuserprofile.phone2 }}">{{ myuser.myuserprofile.phone2 }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="mb-10">
                        {% if my_profile.location == "" %}
                            {% if is_authorized %}
                                <a href="{% url 'changePhoneLocDesc' %}">Location not added yet</a>
                            {% else %}
                                <span class="dis-color">Location not added yet</span>
                            {% endif %}
                        {% else %}
                            {{ my_profile.location }}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
            
        <div class="w-75 w-75-mg" style="margin: 10px auto;">
            <div class="w-100">
                <div class="pd-10">
                    <h4>Description</h4>
                    {% if my_profile.desc == "" %}
                        <div>
                            <span style="padding: 0px 20px;">
                                {% if is_authorized %}
                                    <a href="{% url 'changePhoneLocDesc' %}">No Description</a>
                                {% else %}
                                    <span class="dis-color">No Description</span>
                                {% endif %}
                            </span>
                        </div>
                    {% else %}
                        <div>
                            <span style="padding: 0px 20px;">
                                {{ my_profile.desc }}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="w-100">
                <div class="pd-10">
                    <div class="w-100">
                        <div class="profile-box">
                            <div class="w-100 flex">
                                <div id="post" class="prfl-box-ttl prfl-active">
                                    Posts (<span>{{ myuser.post_set.all.count }}</span>)
                                </div>
                                {% if is_authorized %}
                                    <div id="my-account" class="prfl-box-ttl">
                                        My account
                                    </div>
                                    <div id="records" class="prfl-box-ttl">
                                        Records
                                    </div>
                                {% endif %}
                            </div> 
                            <div class="w-100">
                                <div class="w-100">
                                    <div id="post-content" class="prfl-box-content">
                                        <ol aria-sort="ascending">
                                        {% for post in myuser.post_set.all|slice:max_post %}
                                            <li>
                                                <a class="post-ttl" href="{% url 'post' post.id %}">{{post.title}}</a>
                                                <div>
                                                    <span class="post-date">{{post.uploaded_at|date:"b d, Y"}}</span> 
                                                    {% if is_authorized %}
                                                        <a href="{% url 'editPost' post.id %}" class="post-edit">Edit</a>
                                                        <a href="#" class="post-del" data-pid="{{ post.id }}">Del</a>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% empty %}
                                            <li class="dis-color">No post</li>
                                        {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                                {% if is_authorized %}
                                    <div class="w-100">
                                        <div id="my-account-content" class="prfl-box-content">
                                            <div class="w-100">
                                                <div>
                                                    <a id="add-post" href="{% url 'addPost' %}" class="is_modal">Add Post</a>
                                                </div>
                                                <div>
                                                    <a id="change-name" href="{% url 'changeName' %}" class="is_modal">Change Name</a>
                                                </div>
                                                <div>
                                                    <a id="change-phone" href="{% url 'changePhone' %}" class="is_modal">Change Phone</a>
                                                </div>
                                                <div>
                                                    <a id="change-password" href="{% url 'changePassword' %}" class="is_modal">Change Password</a>
                                                </div>
                                                <div>
                                                    <a id="change-phone" href="{% url 'changePhoneLocDesc' %}" class="is_modal">Update More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>   
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div id="chx0dmxd"></div>

    <footer class="w-100">
        <div class="text-center cprt">
            &copy;Copyright 2020 Frutonp.com. All rights are reserved.
        </div>
    </footer>    
{% endblock content %}

{% block cookie %}
    {% if not cookie_law %}
        <div class="cookie-alert-all flex">
            <div class="cookie-alert-content w-90" style="color: white;">We use cookies to ensure you have the best browsing experience on our website. By using our site, you acknowledge that you have read and understood our <a href="" style="border-bottom: 1px solid white; color: white;">Cookie Policy</a> & <a href="" style="border-bottom: 1px solid white; color: white;">Privacy Policy</a></div>
            <div style="width: 75px; padding: 0px 10px; margin-top: 10px;"> <a class="cookie-accept" href="javascript:void(0);">Accept</a></div>
        </div>
    {% endif %}
{% endblock cookie %}
    
{% block scripts %}
    <div><script src="{% static 'js/profile_all.js' %}?version=33"></script></div>
    <script>
        $(document).ready(function(){
            const MAX_POST_LOAD = 20;
            var showPop = Pop.showPop;
            var hidePop = Pop.hidePop;
            var popShown = Pop.popShown;
            var csrf = $("[name=csrfmiddlewaretoken]").val();
            var wait_scroll = false;
            var post_loaded = 1;
            $("#pp-upload").click(function(){
                var rmv_btn = "";
                var is_default_pp = $(this).attr("data-def-pp") == 'true';
                if(!is_default_pp){
                    rmv_btn = "<div><button style='color: rgb(245, 51, 51); background-color: #f0f0f0;' id='upload-rm-pp'>Remove Photo</button></div>"
                }
                $("#chx0dmxd").html(`<div class='real-modal'><div class='real-modal-container' tabindex='0'><div class='real-modal-header'><div>Profile Picture</div><div class='real-modal-close'>&times;</div></div><div class='real-modal-body text-center'><div><button id='upload-pp-main'>Upload Photo</button></div>${rmv_btn}<div><button class='real-modal-close rm-rl-cl-dwn'>close</button></div></div></div></div>`);
                showPop();
            });
            $("#chx0dmxd").on("click", ".real-modal-close", function(){
                hidePop();
            });
            $("#chx0dmxd").on("click", "#upload-pp-main", function(){
                $("#upload-pp").trigger('click');
            });

            $(document).on("click", function(e){
                if(e.target.id !== "pp-upload")
                    if($(e.target).parents(".real-modal-container").length == 0)
                        if(popShown)
                            hidePop(); 
            });
            // On image is selected
            $("#upload-pp").change(function(){
                // if selected image is not null
                if($(this).val().length > 0)
                    $("#pp-form").attr("action", "upload-pp/").each(function(){
                        $(this).submit();
                    });
            });
            // Delete pp
            $("#chx0dmxd").on("click", "#upload-rm-pp", function(){
                $("#pp-form-2").attr("action", "delete-pp/").each(function(){
                    $(this).submit();
                });
            });
            if(!$("#post-content ol li").hasClass("dis-color") && $("#post-content ol li").length >= MAX_POST_LOAD){
                $(window).scroll(function() {
                    if(((window.innerHeight + window.scrollY) >= document.body.offsetHeight) && !wait_scroll) {
                        wait_scroll = true;
                        $("#post-content ol").append('<li class="fl-mid loading-more-post"><span class="my-small-load"><span></span></span></li>');
                        var req = $.ajax({
                            url: 'profile-post/',
                            type: 'POST',
                            headers:{
                                "X-CSRFToken": csrf
                            },
                            data: {
                                "no": post_loaded
                            }
                        });
                        req.done(function(response){
                            $(".loading-more-post").remove();
                            if(response.full_load){
                                wait_scroll = true;
                            } else {
                                if($("#post-content ol li:first-child").hasClass("dis-color")){
                                    $("#post-content ol li:first-child").remove();
                                }
                                $("#post-content ol").append(response);
                                if($("#post-content ol li:last-child").hasClass("d-none")){
                                    wait_scroll = true;
                                } else {
                                    wait_scroll = false;
                                    post_loaded++;
                                }
                            }
                        });
                    }
                });
            }
            $(".post-del").on("click", function(e){
                e.preventDefault();
                var post_id = $(this).attr("data-pid");
                $("#chx0dmxd").html(`<div class="real-modal"><div class="real-modal-container" tabindex="0"><div class="real-modal-header" style="background-color: #ff4a4a;"><div>Delete</div><div class="real-modal-close">&times;</div></div><div class="real-modal-body" style="padding: 10px 10px 10px 20px;">Are you sure you want to delete the post?</div><div class="modal-del-options"><button id="del-yes">Yes</button><button class="real-modal-close" id="del-no">No</button></div></div></div>`);
                showPop();
                e.stopPropagation();
                $("#del-yes").on("click", function(e){  
                    $(".real-modal-container").addClass("back-trans fl-mid").html(Pop.load_elips);
                    e.stopPropagation();
                    var response = $.ajax({
                        type: "POST",
                        url: `/post/delete/`,
                        data: {
                            'csrfmiddlewaretoken': csrf,
                            'pid': post_id
                        },
                        cache: false
                    });
                    response.done(function(result){
                        hidePop();
                        if(result.status){
                            $(`a[data-pid=${post_id}]`).closest("li").animate({"opacity": "0"}, 1000, function(){
                                $("#post span").html(parseInt($("#post span").html())-1);
                                $(`a[data-pid=${post_id}]`).closest("li").remove();
                                if(!$("#post-content ol").children().length){
                                    $("#post-content ol").html('<li class="dis-color">No post</li>')
                                }
                            });
                            $("#chx0dmxd").html('');
                        } 
                    });
                    response.fail(function(xhr, status, error){
                        hidePop();
                        if(xhr.status==404){
                            $(".act-guess").html("Post might have been deleted already.");
                        } else {
                            $(".act-guess").html("Could not delete post.");
                        }
                        $(".act-sol").html("Try again or reload the page.");
                        $(".act-extra").html("Reload");
                        $(".act-div").css({"bottom": "0px"});
                        setTimeout(function(){
                            $(".act-div").css({"bottom": "-1000px"});
                        }, 20000); 
                    });
                });
            });
        });
    </script>
{% endblock scripts %}
