{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Biplove Lamichhane">
    <meta name="keywords" content="nepal, free, online, sale, vegetables, tarkari, falful, fruits, kathmandu, chitwan, nepali">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <title>Hamikisan - Nepal's Online fruits and vegetables sharing center</title>
    <link rel="stylesheet" href="{% static 'css/email_activation.css' %}">
</head>
<body>
    <a href="{% url 'home' %}"><img src="/static/images/logo.png" class="logo-img" alt="hamikisan-logo"></a>
    <div class="main-content">
        <div style="padding: 0 20px;">
            <div class="card fl-mid">
                <div class="title">{% trans "Email Verification" %}</div>
                <div class="icon {% if not success %}fail{% endif %}"><i class="far fa-{% if success %}check{% else %}times{% endif %}-circle "></i></div>
                <div class="mssg">{{ message }}  </div>
                {% if not success%}
                <form action="{% url 'sendActivationEmail' %}" method="POST" class="d-in-block">
                    {% csrf_token %}
                    <button type="submit">{% trans "Send activation email" %}</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
