{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Biplove Lamichhane">
    <meta name="keywords" content="nepal, free, online, sale, vegetables, tarkari, falful, fruits, kathmandu, chitwan, nepali">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <title>Frutonp - Nepal's Online fruits and vegetables sharing center</title>
    <script src="{% static 'js/jquery.min.3.4.1.js' %}"></script>
</head>
<body>
    <a href="{% url 'home' %}">
        <img src="/static/images/logo.png" class="logo-img" alt="frutonp-logo">
    </a>
    {% if not success %}
    <h3 style="text-align: center;">{% trans "Invalid Link." %}</h3>
    {% else %}
    <div class="main-content">
        <div style="padding: 0 20px;">
            <div class="card fl-mid">
                <div class="title">{% trans "Password Reset" %}</div>
                <div class="icon"><i class="fas fa-unlock"></i></div>
                <div class="inpt-div">
                    <div>{% trans "Enter a new password you remember as well as not that obvious." %}</div>
                    <form action="{% url 'passwordResetConfirm' uidb64 token %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <input type="password" name="password" id="passwordId" placeholder="{% trans "New Password" %}">
                            <span class="err-mssg err-pass"></span>

                        </div>
                        <div>
                            <input type="password" name="confPass" id="confPassId" placeholder="{% trans "Confirm Password" %}">
                            <span class="err-mssg err-conf"></span>
                        </div>
                        <button id="reset-btn" disabled="disabled">{% trans "Reset Password" %}</button>
                    </form>
                    {% if not user.is_authenticated %}
                    <div class="log-n-sign-div">
                        <a href="{% url 'login' %}">{% trans "Login" %}</a>
                        <a href="{% url 'signup' %}">{% trans "Signup" %}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if messages %}
        <div id="sess-mssg-div">
        {% for message in messages %}
            <div class="sess-{{ message.tags }} in-sess-mssg">
                <span>{{ message }}</span>
                <span class="sess-close"><i class="fas fa-times"></i></span>
            </div>            
        {% endfor %}
        </div>
    {% endif %}

    <div><script src="{% static 'js/sess_mssg_.js' %}?version=44"></script></div>
    <div>
        <script>
        $(document).ready(function(){
            $('input').keyup(function(){
                var pass = $('input[name=password]').val();
                var confPass = $('input[name=confPass]').val();
                var pass_ok = false;
                if(/^(?=.*[a-z])(?=.*[0-9])(?=.{8,})/.test(pass) === false){
                    $(".err-pass").text("Password must be at least 8 characters with lower characters and numbers");
                    pass_ok = false;
                } else {
                    if(pass == confPass){
                        pass_ok = true;
                        $(".err-conf").text("");
                    } else {
                        pass_ok = false;
                        $(".err-conf").text("Password does not match");
                    }
                    $(".err-pass").text("");
                }

                if(pass_ok){
                    $("#reset-btn").removeAttr("disabled");
                } else {
                    $("#reset-btn").attr("disabled", "disabled");
                }
            });
        });
        </script>
    </div>
</body>
</html>
