{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Biplove Lamichhane">
    <meta name="keywords" content="nepal, free, online, sale, vegetables, tarkari, falful, fruits, kathmandu, chitwan, nepali">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <title>Frutonp - Nepal's Online fruits and vegetables sharing center</title>
    <script src="{% static 'js/jquery.min.3.4.1.js' %}"></script>
</head>
<body>
    <a href="{% url 'home' %}">
        <img src="/static/images/logo.png" class="logo-img" alt="frutonp-logo">
    </a>
    <div class="main-content">
        <div style="padding: 0 20px;">
            <div class="card fl-mid">
                <div class="title">Password Reset</div>
                <div class="icon"><i class="fas fa-lock"></i></div>
                <div class="inpt-div">
                    <div>Enter your email to get the link to reset your password.</div>
                    <form action="{% url 'passwordReset' %}" method="POST">
                        {% csrf_token %}
                        <div {% if user.is_authenticated %}class="inp-div-dis"{% endif %}>
                            <input {% if user.is_authenticated %}class="inp-dis"{% endif %} type="email" name="email" id="emailId" {% if user.is_authenticated %}value="{{ user }}"{% endif %}>
                        </div>
                        <button>Send reset link</button>
                    </form>
                    {% if not user.is_authenticated %}
                    <div class="log-n-sign-div">
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'signup' %}">Signup</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if messages %}
        <div id="sess-mssg-div">
        {% for message in messages %}
            <div class="sess-{{ message.tags }} in-sess-mssg">
                <span>{{ message }}</span>
                <span class="sess-close"><i class="fas fa-times"></i></span>
            </div>            
        {% endfor %}
        </div>
    {% endif %}

    <div><script src="{% static 'js/sess_mssg_.js' %}?version=44"></script></div>
</body>
</html>
