{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Join | Hamikisan - Nepal's Online fruits and vegetables sharing center{% endblock title %}

{% block content %}
    <div><script src="https://www.google.com/recaptcha/api.js" async defer></script></div>
    <div style="margin-top: 40px;" class="actual-content">
        <div class="w-50" style="margin: auto auto;">
            <div class="signup-title text-center">
                <div class="sign-create-sub">{% trans "Join" %} Hamikisan</div>
            </div>
        </div>
        <div class="sign-cont">
            <div class="w-100">
                <form action="{% url 'signup' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" id="validate-signup" method="POST">
                    {% csrf_token %}
                    
                    <div class="f-in-div">
                        <label for="nameId">{% trans "Name" %}<span style="color: #b00; font-size: 14px;">*</span></label>
                        <br>
                        <div class="pos-rel">
                            <input type="text" name="name" id="nameId" class="form-inpt" required/>
                            <span id="cor-of-name" class="correct-tick"></span>
                        </div>
                        <p class="of-name">
                            <span class="err-mssg">
                                {{ err.name }}
                            </span>
                        </p>
                    </div>
                    <div class="f-in-div">
                        <label for="emailId">{% trans "Email" %}<span style="color: #b00; font-size: 14px;">*</span></label>
                        <span class="em-dom-sug">@gmail.com</span>
                        <span class="em-dom-sug">@hotmail.com</span>
                        <span class="em-dom-sug">@outlook.com</span>
                        <span class="em-dom-sug">@yahoo.com</span>
                        <br>
                        <div class="pos-rel">
                            <input type="email" name="email" id="emailId" class="form-inpt" required/>
                            <span id="cor-of-email" class="correct-tick"></span>
                        </div>
                        <p class="of-email">
                            <span class="err-mssg">
                                {{ err.email }}
                            </span>
                        </p>
                    </div>
                    <div class="f-in-div">
                        <label for="phoneId">{% trans "Phone" %}<span style="color: #b00; font-size: 14px;">*</span></label>
                        <br>
                        <div class="pos-rel">
                            <input type="number" name="phone" id="phoneId" class="form-inpt" required/>
                            <span id="cor-of-phone" class="correct-tick"></span>
                        </div>
                        <p class="of-phone">
                            <span class="err-mssg">
                                {{ err.phone }}
                            </span>
                        </p>
                    </div>
                    <div class="w-100 flex fl-wrp f-in-div">
                        <div class="s-pass">
                            <label for="passId">{% trans "Password" %}<span style="color: #b00; font-size: 14px;">*</span></label>
                            <br>
                            <input type="password" name="pass" id="passId" class="form-pass" required/>
                            <p class="of-pass">
                                <span class="err-mssg">
                                </span>
                            </p>
                        </div>
                        
                        <div class="s-pass-bet"></div>
                        <div class="s-pass">
                            <label for="confPassId">{% trans "Confirm Password" %}<span style="color: #b00; font-size: 14px;">*</span></label>
                            <br>
                            <input type="password" name="confPass" id="confPassId" class="form-pass" required/>
                            <p class="of-pass-conf">
                                <span class="err-mssg"></span>
                            </p> 
                        </div>
                        <span class="err-mssg">
                            {{ err.pass }}    
                        </span>
                    </div>
                    <div>
                        <div class="g-recaptcha" data-sitekey="6LdmTakZAAAAAELwIhQwi9v4EhS1BBJnLx6JEY1O" data-callback="onReCaptchaSuccess" data-expired-callback="recaptchaExpired"></div>
                    </div>

                    <div>
                        <button id="form-sub" disabled="disabled">{% trans "I am ready" %}</button>
                    </div>
                    <div class="w-100">
                        <p class="tncond">{% trans "By creating an account, you agree to the" %} <a href="#">{% trans "Terms of Service" %}</a>{% trans "." %} {% trans "For more information about" %} <a href="#">Hamikisan's {% trans "privacy practices" %}</a>{% trans ", see the Hamikisan Privacy Statement. We'll occasionally send you account-related emails." %}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <div><script src="{% static 'js/email_sugg__.js' %}"></script></div>
    <div><script src="{% static 'js/sign_em_valid.js' %}?version=90"></script></div>
{% endblock scripts %}
