{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Biplove Lamichhane">
    <meta name="keywords" content="nepal, free, online, sale, vegetables, tarkari, falful, fruits, kathmandu, chitwan, nepali">
    <title>{% if yes_no == "yes" %}({{ notif_num }}) {% endif %}{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.3.4.1.js' %}"></script>
</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="w-100 flex">
                <a class="logo black" href="{% url 'home' %}" title="Go to home">
                    <span><img src="{% static 'images/logo.png' %}" class="logo-img" alt="Logo-frutonp"></span>
                    <span style="align-self: center;">Frutonp</span>
                </a>
                
                <div style="position: relative; width: 74%;">
                    <div class="search-w">
                        <input type="search" name="search" id="search" class="search-inpt" title="Search for your choice" />
                        <select class="srch-select" name="search-option">
                            <option value="vegetable">Vegetable</option>
                            <option value="name">Name</option>
                            <option value="fruit">Fruit</option>
                            <option value="username">Username</option>
                        </select>                        
                        <span class="srch-icon"><i class="fas fa-search"></i></span>
                    </div>
                </div>
                <div class="mb-side-bar">
                    <div class="mb-srch-n-sel">
                        <input type="search" name="" id="mb-srch-inpt">
                        <select class="mb-srch-select" name="search-option">
                            <option value="vegetable">Vegetable</option>
                            <option value="name">Name</option>
                            <option value="fruit">Fruit</option>
                            <option value="username">Username</option>
                        </select>       
                    </div>
                    <span id="mb-srch-icon"><i class="fas fa-search"></i></span>
                </div>
                <div class="catag-b-med">
                    <div class="pos-rel top-cat">
                        <a href="javascript:void(0);" style="padding: 8px 0px; color: #555" class="black flex">
                            <span><i class="fas fa-th-large"></i></span>
                            <span style="margin-left: 5px;">Catagories</span>
                        </a>
                        <div class="cat-drp-mn" >
                            <ul>
                                <li><a href="javascript:void(0);" class="flex">
                                    <span><i class="fas fa-carrot"></i></span> 
                                    <span>Vegetables</span></a></li>
                                <li><a href="javascript:void(0);"><i class="fas fa-apple-alt"></i> Fruits</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="margin: 0px 10px;" class="pos-rel">
                    <!-- Settings -->
                    <a id="settings-btn" href="javascript:void(0);" class="set-not-btn pos-rel" title="Settings">
                        <i class="fas fa-cog"></i><i id="t-up" style="font-size: 16px; position: absolute; right: 1px; top: 2px;" class="fas fa-sort-down"></i>
                    </a>
                    <div class="set-cont" tabindex="0">
                        <span>
                            <i id="ar-o-cat" class="fas fa-caret-up"></i>
                        </span>
                        <ul id="settings-cont">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'addPost' %}" title="Add Post"><i class="fas fa-plus-circle"></i> Add post</a></li>
                            {% endif %}
                            <li>
                                <a id="lang" href="javascript:void(0);" title="Change language"><img src="{% static 'images/np-flag.png' %}" style="width: 10px;" alt=""> Lang: NP</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li><a id="logout" href="javascript:void(0);" title="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                <form action="{% url 'logout' %}" method="POST" id="logout-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="logout"/>
                                </form>
                            {% endif %}
                            <li><a href="javascript:void(0);" title="Help"><i class="fas fa-question-circle"></i> Help</a></li>
                        </ul>
                        <ul id="lang-cont">
                            <li>
                                <a href="javascript:void(0);" id="lang-back-set"><i style="color: rgb(7, 192, 68);" class="fas fa-arrow-left"></i> Back</a>
                            </li>
                            <li>
                                <a id="lang" href="javascript:void(0);"><img src="{% static 'images/uk-flag.png' %}" style="width: 16px;" height="12px" alt=""> English</a>
                            </li>
                            <li>
                                <a id="lang" href="javascript:void(0);"><img src="{% static 'images/np-flag.png' %}" style="width: 10px;" alt=""> Nepal</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="pos-rel" style="margin-right: 10px;">
                        <!-- Notifications -->
                        <a id="notif-btn" href="javascript:void(0);" class="set-not-btn pos-rel" title="Notifications">
                            <i class="fas fa-bell"></i><i id="t-up-notif" style="font-size: 16px; position: absolute; right: 1px; top: 2px;" class="fas fa-sort-down"></i>
                            <span id="notif-num" class="notif-num-{{ yes_no }}">{{ notif_num }}</span>
                        </a>
                        <div class="notif-cont" tabindex="0">
                            <span>
                                <i id="ar-o-notif" class="fas fa-caret-up"></i>
                            </span>
                            <ul id="notificaion-cont">
                                <li>
                                    <a href="">
                                        <span style="display: block;">Biplove Lamichhane has commented on your post.</span>
                                        <span style="color: #888;">1d</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span style="display: block;">Biplove Lamichhane has commented on your post.</span>
                                        <span style="color: #888;">1d</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span style="display: block;">Biplove Lamichhane has commented on your post.</span>
                                        <span style="color: #888;">1d</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="log-b-sign">
                    {% if not user.is_authenticated %}
                        <div style="margin-right: 5px;">
                            <a href="{% url 'login' %}" class="nav-a-other log-link">Login</a>
                        </div>
                        <div style="margin-right: 10px;">
                            <a href="{% url 'signup' %}" class="nav-a-other sign-link">Signup</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="{% url 'profile' %}" class="auth-user">
                                <img src="/media/{{ user.myuserprofile.pp }}" width=25 height=25/>
                                {{ user.short_name }}
                            </a>
                        </div>
                    {% endif %}
                </div>         
                <div class="men-850">
                    <span id="menu-btn">
                        <i class="fas fa-hamburger"></i>
                    </span>
                </div>           
            </div> 
        </div>          
        <div class="side-bar">
            <span id="side-close"><i class="fas fa-times"></i></span>
            {% if not user.is_authenticated %}
                <div class="flex" style="margin-top: 50px;">
                    <a href="{% url 'login' %}" class="w-50 text-center" style="padding: 5px 0px; border: 1px solid #eee; color: #eee; background-color: #555;">Login</a>
                    <a href="{% url 'signup' %}" class="w-50 text-center" style="padding: 5px 0px; border: 1px solid #555; background-color: #eee;">Signup</a>
                </div> 
            {% else %}     
                <div style="margin-top: 50px; margin-bottom: 0px;">
                    <a href="{% url 'profile' %}" class="auth-user-mb" style="display: flex; align-items: center;">
                        <img src="/media/{{ user.myuserprofile.pp }}" width=25 height=25 alt="Profile Picture"/>
                        {{ user.short_name }}
                    </a>
                </div>  
            {% endif %}
            <div style="margin-top: 20px;">
                <span style="margin-left: 3px;">Catagories</span>
                <a href="javascript:void(0);" style="margin-left: 30px;"><i class="fas fa-carrot"></i> Vegetables</a>
                <a href="" style="margin-left: 30px;"><i class="fas fa-apple-alt"></i> Fruits</a>
            </div>
        </div>
    </header>

    

    <div style="margin-top: 80px;">
        {% if messages %}
            <div id="sess-mssg-div">
            {% for message in messages %}
                <div class="sess-{{ message.tags }} in-sess-mssg">
                <span>{{ message }}</span>
                <span class="sess-close"><i class="fas fa-times"></i></span>
            </div>            
            {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock content %}


        {% block footer %}
        {% endblock footer %}

        {% block cookie %}    
        {% endblock cookie %}
    </div>

    <script>
        $(document).ready(function(){
            /* Logout on click */
            $("#logout").on('click', function(){
                $("#logout-form").submit();
            });

            /* Close modals of profile forms */
            try{
                classFromClose = $(".modal-close").attr("class").split('')[1]; // To get the class name of which modal
            }
            catch {
                classFromClose = "";
            }
            $(".modal-close").on('click', function(){
                var modalId = "#"+classFromClose+"-modal";
                $(".modal-close").css("display", "none");
                window.history.go(-1);
            });
        });
    </script>
    <div><script src="{% static 'js/nav_all___.js' %}?version=0"></script></div>
    <div><script src="{% static 'js/notifs__.js' %}?version=99"></script></div>
    <div><script src="{% static 'js/content_scroll_card.js' %}"></script></div>
    <div><script src="{% static 'js/sess_mssg_.js' %}"></script></div>
    <div><script src="{% static 'js/cookie.js' %}"></script></div>
    

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>

