{% extends 'base.html' %}
{% load static %}
{% block title %}Frutonp - Nepal's Online fruits and vegetables sharing center{% endblock title %}
{% load i18n %}
{% load number_translator %}

{% block content %}
    {% get_current_language as LANG_CODE %}
    <div class="actual-content">
        <div class="w-100">
            <div class="veg-main">
                <div class="veg-ttl">
                    <span class="{{ foodType }}-bor-left"></span> {% trans "Latest" %} {{ itemName }}
                </div>
                <div class="w-100 flex fl-wrp">
                    {% for post in posts %}
                        <div class="w-25">
                            <div class="w-100">
                                <div class="veg-card-main">
                                    <a href="{% url 'post' post.id %}" style="color: #333;">
                                        <div class="w-100 flex">
                                            <div class="w-100 veg-thumb-up">
                                                <img src="/media/{{ post.thumbnail }}" class="veg-card-thumb" alt="{% trans post.outerFood %}">
                                            </div>
                                            <div class="veg-name-price-desk w-100">
                                                <div class="veg-name-of-card">{% trans post.outerFood %}</div>
                                                <div class="veg-name-of-card">{% trans "Rs." %} {{ post.price|number_translator:LANG_CODE  }}/{% trans post.quantity%}</div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="w-100">
                                        <div class="veg-name-price-mb green" class="text-center hidden">{% trans post.outerFood %} | {% trans "Rs." %} {{ post.price|number_translator:LANG_CODE }}/{% trans post.quantity%}</div>
                                        <div class="up-phone up-desc" style="color: #0099FF;"><i class="fas fa-mobile-alt"></i>
                                            <a href="tel:{{ post.myuser.phone1|number_translator:LANG_CODE  }}">{{ post.myuser.phone1|number_translator:LANG_CODE  }}</a>
                                            {% if post.phone2  %}
                                                | {{ post.phone2|number_translator:LANG_CODE  }}
                                            {% endif %}
                                        </div>
                                        {% if post.location %}
                                            <div class="up-location up-desc"><i class="fas fa-map-marker-alt"></i>
                                                {% if post.location %}
                                                    {{ post.location }}
                                                {% else %}
                                                    {{ post.myuser.myuserprofile.location  }}
                                                {% endif%}
                                            </div>
                                        {% endif %}
                                        <a href="{% url 'profile' post.myuser.id %}"><div class="up-name up-desc"><i class="fas fa-user-secret"></i> {{ post.myuser.name }}</div></a>
                                        <div class="up-time up-desc"><i class="far fa-clock"></i> {{ post.uploaded_time }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="no-post-intial">
                            <div class="text-center">
                                <div>{% trans "No post added yet" %}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if not is_finished %}
                    <div>
                        <a href="?page={{ page|add:"1" }}" class="see-more-{{ foodType }} f-right">
                            {% trans "Next" %}
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    {% endif %}
                    {% if page > 1 %}
                    <div>
                        <a href="?page={{ page|add:"-1" }}" class="see-more-{{ foodType }} f-right">
                            <i class="fas fa-chevron-left"></i>
                            {% trans "Prev" %}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
</script>
{% endblock scripts %}
