body {
    color: #555; 
    font-family: sans-serif;
    background-color: #eee;
}
img {
    width: 40px;
}
.fl-mid {
    display: flex;
    justify-content: center;
}
.main-content {
    width: 100%;
    max-width: 480px;
    margin: 50px auto auto auto;
}
.card {
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #aaa;
    text-align: center;
}
.title {
    padding: 10px;
    font-size: 1.2em;
}
.icon {
    font-size: 4em;
    padding: 10px;
    color: #999;
}
.mssg {
    padding: 10px;
}
.inpt-div {
    padding: 10px 30px;
    text-align: left;
}
.inpt-div input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    margin: 10px 0;
    border: 1px solid #bbb;
    border-radius: 5px;
}
.inpt-div button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0fc044;
    border: 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    margin-top: 20px;
}
.inpt-div button:hover {
    box-shadow: 0 0 4px #0fc044;
}
.inpt-div button:disabled {
    box-shadow: none;
    background-color: #0fc04490;
    cursor: default;
}
.err-mssg {
    font-size: 12px;
    color: #ff4a4a;
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
}
.log-n-sign-div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.log-n-sign-div a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #0099FF;
}
.inp-div-dis {
    cursor: not-allowed;
}
.inp-dis {
    pointer-events: none;
    background-color: #eee;
    color: #777;
}
.sess-success {
    border: 1px solid #07C044;
    color: #07C044;
}
.sess-error {
    border: 1px solid #ff4a4a;
    color: #ff4a4a;
}
.sess-info {
    border: 1px solid #ffa500;
    color: #ffa500;
}
#sess-mssg-div {
    position: fixed;
    font-size: 0.9em;
    bottom: 0;
    right: 0;
    z-index: 120;
    width: 100%;
    max-width: 480px;
    padding: 0 5px;
    box-sizing: border-box;
}
.in-sess-mssg {
    background-color: #333;
    position: relative;
    bottom: -500px;
    padding: 12px 10px;
    padding-right: 35px;
    margin-bottom: 5px;
    transform: scaleY(1);
    transition: transform 1s, bottom 0.6s;
}
.sess-close {
    border-radius: 20px;
    cursor: pointer;
    font-weight: 200;
    position: absolute;
    right: 5px;
    top: 50%;
    padding: 5px 10px;
    transform: translate(0, -50%);
}
.sess-close:hover, .act-close:hover {
    color: #555;
    background-color: #ccc;
    transition: background-color 0.3s;
}