* {
    margin: 0px;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN_r8OX-hpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN_r8OVuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN_r8OXuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN_r8OUehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN_r8OXehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN_r8OXOhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN_r8OUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../webfonts/open-sans/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../webfonts/open-sans/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../webfonts/open-sans/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../webfonts/open-sans/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../webfonts/open-sans/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../webfonts/open-sans/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../webfonts/open-sans/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UNirkOX-hpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UNirkOVuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UNirkOXuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UNirkOUehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UNirkOXehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UNirkOXOhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UNirkOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN7rgOX-hpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN7rgOVuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN7rgOXuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN7rgOUehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN7rgOXehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN7rgOXOhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN8rsOX-hpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN8rsOVuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN8rsOXuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN8rsOUehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN8rsOXehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN8rsOXOhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(../webfonts/open-sans/mem5YaGs126MiZpBA-UN8rsOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }



body {
    font-family: 'Open Sans', 'Times New Roman', Times, serif;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-75 {
    width: 75%;
}

.w-60 {
    width: 60%;
}
.w-66 {
    width: 66.66%;
}
.w-50 {
    width: 50%;
}
.w-33 {
    width: 33.33%;
}
.w-40 {
    width: 40%;
}

.w-25 {
    width: 25%;
}
.font-12 {
    font-size: 1.2em;
}
.w-10 {
    width: 10%;
}

.f-l {
    float: left;
}
.f-r {
    float: right;
}
.m-t0 {
    margin-top: 0px;
}
.ml-5 {
    margin-left: 5px !important;
}
.mg-t10 {
    margin-top: 10px;
}
.m-b0 {
    margin-bottom: 0px;
}
.clr {
    clear: both;
}
.fl-wrp {
    flex-wrap: wrap;
}
.fl-column {
    flex-direction: column;
}
.no-fl-wrp {
    flex-wrap: nowrap;
}
.text-bold {
    font-weight: 1000;
}
.font-w-6 {
    font-weight: 600;
}
.text-center {
    text-align: center;
}
.d-none {
    display: none;
}
.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.pos-rel {
    position: relative;
}
.flex {
    display: flex;
}
.fl-mid {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.f-right {
    float: right;
}
.f-left {
    float: left;
}
.back-trans {
    background: transparent !important;
}
.o-hidden {
    overflow: hidden;
}
.red {
    color: rgb(228, 32, 32);
}
.black {
    color: #222;
}
.grey {
    color: grey;
}
.green {
    color: #07C044;
}
.orange {
    color: #ffa500;
}
.bg-green {
    background-color: #07C044;
}
.bg-orange {
    background-color: #ffa500;
}
.pad-3 {
    padding: 3px 0 !important;
}
input:focus, textarea:focus, select:focus {
    box-shadow: green 0px 0px 5px;
    outline: none;
}
#validate-signup input:focus {
    box-shadow: #aaa 0px 0px 5px;
    outline: none;
}
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #0099FF;
    text-decoration: none;
}
.d-in-block {
    display: inline-block;
}
button {
    border: 0;
    cursor: pointer;
    outline: none;
}
textarea {
    resize: none;
    font-family: sans-serif;
    font-size: 0.85em;
    font-weight: 400;
    box-sizing: border-box;
}
div:focus {
    outline: none;
}
.max-950 {
    max-width: 950px !important;
    margin: auto auto !important;
}
.m-auto {
    margin: auto auto;
}
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #07C044;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #07C044, 0 0 5px #07C044;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}
  
.sticky {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
    z-index: 111;
}
.real-modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
}
.real-modal-container{
    position: relative;
    background-color: #fff;
    height: auto;
    width: 400px;
    max-width: 400px;
    border-radius: 15px;
    display: none;
}
.real-modal-header {
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
    padding: 10px 10px 10px 20px;
    border-radius: 15px 15px 0px 0px;
    background-color: #07C044;
    display: flex;
    justify-content: space-between;
}
.real-modal-close {
    padding: 0px 10px;
    cursor: pointer;
}
.real-modal-body {
    max-height: 330px;
    overflow: auto;
}
.real-modal-body div button{
    display: block;
    width: 100%;
    padding: 15px 0px;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    font-size: 1em;
    color: #0099FF;
    background-color: #f5f5f5;
}
.real-modal-footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
}
.real-modal-body div .rm-rl-cl-dwn {
    border-radius: 0px 0px 15px 15px;
    color: #555;
    outline: none;
}
.modal-img-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 5px;
}
.modal-del-options{
    display: flex;
    padding: 10px 10px 10px 20px;
    justify-content: space-between;
}
.modal-del-options button{
    background-color: #07C044;
    padding: 8px 13px;
    color: #fff;
    border-radius: 5px;
}
.modal-del-options button:last-child{
    background-color: #ff4a4a;
}

.mdl-img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0px 5px;
    outline: none;
    border: 5px solid transparent;
}
.mdl-img:focus{
    border: 5px solid #ffa500;
}
#rm-img-selected {
    padding: 15px 0px;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    background-color: #07C044;
    outline: none;
    color: white;
}
#rm-img-selected:disabled {
    color: #07C044;
    background-color: white;
}
.big-bell-slash {
    font-size: 3em;
    color: #444;
    margin-bottom: 5px;
}
/* Nav bar */
.nav-bar {
    z-index: 101;
    position: fixed;
    background-color: #fff;
    padding: 10px 0px;
    width: 100%;
    top: 0px;
    left: 0px;
}
.logo {
    font-size: 22px;
    display: flex;
    margin: 0px 3px;
}
.srch-overlay {
    position: fixed; 
    z-index: 100; 
    width: 100%; 
    height: 100%; 
    background-color: #00000090; 
    top: 0;
}
.sidebar-overlay {
    position: fixed; 
    display: none;
    z-index: 102; 
    width: 100%; 
    height: 100%; 
    background-color: #00000090; 
    top: 0;
}
.logo-img {
    width: 40px;
}
.nav-bar div{
    align-self: center;
}
.nav-a-other{
    display: block;
    padding: 8px 15px;
    color: #222;
}
.nav-reduced {
    box-shadow: 3px 0px 5px #555 !important;
    padding: 3px 0px !important;
}
.search-w {
    width: 74%;
    position: relative;
    margin: 0px 30px;
}
.search-inpt {
    width: 100%;
    max-width: 1000px;
    padding: 10px 40px 10px 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.srch-select {
    position: absolute;
    right: 37px;
    padding: 8px 0px;
    border: 0px;
    margin-top: 2px;
    background-color: #fff;
}
.srch-select:focus, .mb-srch-select:focus {
    box-shadow: none;
}
.srch-icon {
    display: inline-block;
    color: #eee;
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 10px;
    background-color: #07C044;
}
.srch-icon:hover {
    color: #07C044;
    background-color: #fff;
    cursor: pointer;
}
.log-link {
    border-radius: 3px;
    border: 1px solid #999;
}
.log-link:hover {
    color: #000;
    border: 1px solid #000;
}
.sign-link {
    color: #fff;
    background-color: #07C044;
    border-radius: 3px;
}
.sign-link:hover {
    background-color: #189208;
}
.cat-drp-mn {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px #ccc;
    left: 0px;
    z-index: 3;
}
.cat-drp-mn ul {
    width: 150px;
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.cat-drp-mn ul li a {
    display: block;
    padding: 10px;
    color: #555;
}
.desk-cat-each>span {
    display: inline-block;
    padding: 10px;
    color: #555;
    cursor: default;
}
.cat-drp-mn ul li a:hover {
    background-color: #e8e8e8;
    color: #07C044;
}
.cat-each-fruit a:hover {
    color: #ffa500 !important;
}
.top-cat:hover .cat-drp-mn {
    display: block;
}
.desk-cat-each {
    display: flex;
    position: relative;
}
.cat-each-item {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px #ccc;
    width: 200px;
    left: -200px;
    top: 0;
    z-index: 3;
}
.desk-cat-each:hover .cat-each-item {
    display: block;
}
#ar-o-cat {
    position: absolute; 
    top: -20px; 
    font-size: 30px; 
    height: 0px; 
    padding: 0px; 
    left: 10px; 
    color: #fafafa; 
    z-index: -1 !important;
}
.set-not-btn {
    display: flex; 
    color: #555; 
    font-size: 20px;
    width: 35px;
    padding: 8px 2px;
}
.set-cont {
    display: none;
    position: absolute;
    background: #fafafa;
    top: 44px;
    box-shadow: 0px 8px 40px #bbb;
    z-index: 2;
}
.set-cont ul {
    list-style: none;
    width: 150px;
    margin: 0px;
    padding: 0px;
}
.set-cont ul a {
    color: #555;
    display: block;
    padding: 10px;
}
.set-cont ul a:hover {
    background-color: #e9e9e9;
    color: rgba(7, 192, 68, 1);
}
#lang-cont {
    display: none;
}
.log-b-sign{
    display: flex;
}
.t-side-ar {
    font-size: 0.8em;
    position: absolute;
    right: 2px;
}
#ar-o-notif {
    position: absolute; 
    top: -20px; 
    font-size: 30px; 
    height: 0px; 
    padding: 0px; 
    right: 15px; 
    color: #fafafa; 
    z-index: -1 !important;
}
.notif-cont {
    display: none;
    position: absolute;
    background: #fafafa;
    top: 44px;
    right: 0px;
    box-shadow: 0px 8px 40px #bbb;
    z-index: 2;
}
#notificaion-cont {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 420px;
    font-size: 12px;
    height: 400px;
    overflow-y: auto;
}
#notificaion-cont li a{
    color: #000;
    font-size: 0.9rem;
    overflow: hidden;
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
}
#notificaion-cont a:first-child{
    padding-top: 15px;
}
.recent-notif {
    background-color: #eee;
}
#notificaion-cont li a:hover{
    background-color: #eee;
}
.notif-pp-n-indic {
    display: flex;
    height: 30px;
    padding: 0 10px;
    justify-content: space-around;
}
.notif-sender {
    width: 30px;
    height: 30px;
    padding: 0 5px;
    border-radius: 50%;
}
.notif-main-mssg {
    margin-bottom: 5px;
}
.notif-indic {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: auto 0;
    border-radius: 50%;
}
.notif-not-seen {
    background-color: #0099FF;
}
.notif-post {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: auto;
}
#notif-num {
    position: absolute;
    top: -5px;
    font-size: 11px;
    right: 5px;
}
.notif-num-yes {
    background-color: #d00;
    width: 19px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    color: #eee;
    border-radius: 50%;
}
.notif-num-no {
    display: none;
}
#menu-btn {
    position: relative;
    font-size: 28px;
    color: #07C044;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
    margin-left: 10px;
}
#side-close {
    display: flex;
    justify-content: center;
    font-size: 24px; 
    position: fixed; 
    font-weight: 100;
    right: 280px; 
    top: 8px;
    background: #f9f9f9;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
    z-index: 1000;
}
#side-close>span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#side-close>span::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #00000090;
    transform: rotate(-45deg);
}
#side-close>span::after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #00000090;
    transform: rotate(45deg);
}

.side-bar {
    position: fixed;
    background-color: #f9f9f9;
    right: 0px;
    top: 0px;
    overflow: hidden;
    width: 0px;
    z-index: 999;
    height: 100%;
    transition: width 0.4s;
    box-sizing: border-box;
}
.side-bar a {
    display: block;
    color: #333;
}
.side-bar a:hover {
    background-color: #eee;
}
.mb-srch-n-sel {
    display: none;
}
.mb-srch-icon {
    display: none;
    color: #444;
    font-size: 18px;
    padding: 6px;
    cursor: pointer;
}
.mb-srch-open {
    color: #444;
    font-size: 18px;
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 8px 0;
    width: 40px;
    text-align: center;
    background-color: #07C044;
    cursor: pointer;
}
#mb-srch-inpt {
    box-sizing: border-box;
    font-size: 1em;
    top: 6px;
    left: 6px;
    width: calc(100% - 54px);
    padding: 10px 10px 10px 5px;
    border: 1px solid #ccc;
    position: absolute;
    transition: width 0.5s;
}
.mb-srch-select {
    position: absolute;
    padding: 9px 0px 10px 0px;
    border: 0px;
    top: 8px;
    right: 50px;
}
.auth-user {
    display: flex;
    float: right;
    margin-right: 5px;
    color: #ffa500; 
    padding: 3px 5px; 
    align-items: center; 
    font-size: 14px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}
.side-bar-nav {
    border-bottom: 1px solid #ccc;
}
.not-auth-user-mb {
    padding: 15px 0 15px 10px;
    width: 49%;
    text-align: center;
    color: #07C044 !important;
    font-weight: 600;
}
.side-bar-nav .fl-mid span {
    height: 30px;
    width: 1px;
    background: #ccc;
}
.auth-user-mb {
    display: flex !important;
    align-items: center;
    padding: 15px 0 15px 10px;
}
.auth-user img, .auth-user-mb img {
    border-radius: 50%;
    padding-right: 5px;
    width: 28px;
    height: 28px;
}
.side-scrollable {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}
#side-scrollable-primary {
    left: 0;
    width: 100%;
    transition: all 0.4s;
}
#side-scrollable-secondary {
    right: 0;
    width: 0;
    transition: width 0.4s;
}
.side-cat-div>span{
    display: flex;
    padding: 10px 0 10px 10px;
    text-transform: uppercase;
    color: #777;
}
.side-cat-div i {
    color: #bbb;
}
.side-cat-item {
    padding: 10px 25px 10px 25px;
    display: flex !important;
    justify-content: space-between;
}
.side-cat-item:hover .cat-right-ar i {
    color: #555;
}
.side-cat-item i{
    color: #555;
}
.cat-right-ar i {
    color: #aaa;
}
.sub-cat-back {
    background-color: #f5f5f5;
    padding: 10px 0 10px 15px;
}
.sub-cat-back i{
    margin-right: 5px;
    color: #555 !important;
}
#side-sec-main-cont a {
    padding: 10px 25px 10px 25px;
}

/* Main content */
.sess-success {
    border: 1px solid #07C044;
    color: #07C044;
}
.sess-error {
    border: 1px solid #ff4a4a;
    color: #ff4a4a;
}
.sess-info {
    border: 1px solid #ffa500;
    color: #ffa500;
}
#sess-mssg-div {
    position: fixed;
    font-size: 0.9em;
    bottom: 0;
    right: 0;
    z-index: 120;
    width: 100%;
    max-width: 480px;
    padding: 0 5px;
    box-sizing: border-box;
}
.in-sess-mssg {
    background-color: #333;
    position: relative;
    bottom: -500px;
    padding: 12px 10px;
    padding-right: 35px;
    margin-bottom: 5px;
    transform: scaleY(1);
    transition: transform 1s, bottom 0.6s;
}
.sess-close {
    border-radius: 20px;
    cursor: pointer;
    font-weight: 200;
    position: absolute;
    right: 5px;
    top: 50%;
    padding: 5px 10px;
    transform: translate(0, -50%);
}
.sess-close:hover, .act-close:hover {
    color: #555;
    background-color: #ccc;
    transition: background-color 0.3s;
}
.act-div {
    position: fixed;
    font-size: 0.9em;
    bottom: -1000px;
    right: 0;
    z-index: 121;
    width: 100%;
    max-width: 480px;
    padding: 0 5px;
    box-sizing: border-box;
    transition: bottom 1s;
}
.act-cont {
    background-color: #333;
    border: 1px solid #fff44f;
    color: #fff44f;
    position: relative;
    padding: 12px 10px;
    bottom: 0;
    padding-right: 45px;
    margin-bottom: 5px;
}
.act-cont span {
    display: inline-block;
}
.act-extra {
    cursor: pointer;
    color: #ffa500;
    border-bottom: 1px solid #ffa500;
}
.act-close {
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    font-weight: 200;
    position: absolute;
    right: 3px;
    top: 50%;
    padding: 10px 15px;
    transform: translate(0, -50%);
    z-index: 122;
}
.actual-content {
    max-width: 95%;
    margin: 20px auto 70px auto;
}
.no-post-intial{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 250px;
    width: 100%;
    font-size: 1.2em;
}
.veg-bor-left {
    background-color: #07C044;
    padding: 1px 4px;
    margin-right: 10px;
    border-radius: 10px;
}
.fruit-bor-left {
    background-color: #ffa500;
    padding: 1px 4px;
    margin-right: 10px;
    border-radius: 10px;
}
.veg-main {
    padding: 10px;
}
.veg-ttl {
    padding: 10px;
    border: 1px solid #333;
    font-size: 20px;
    background-color: white;
}
.veg-cont {
    display: flex;
    flex-wrap: wrap;
}
.veg-card-main {
    overflow: hidden;
    width: 260px;
    height: 280px;
    border: 1px solid grey;
    margin: 20px auto;
}
.veg-thumb-up {
    text-align: center;
}
.veg-card-thumb {
    height: 140px;
}
.up-desc {
    font-weight: 600;
    padding: 5px 10px;
}
.veg-name-of-card {
    font-weight: 600;
    padding: 5px;
    text-align: center;
}
.veg-name-price-mb {
    text-align: center;
}
.see-more-veg {
    color: whitesmoke;
    padding: 8px 10px;
    margin-right: 40px;
}
.see-more-veg:hover {
    background-color: #fff;
    color: #07C044;
    border: 1px solid #07C044;
}
.see-more-fruit {
    color: whitesmoke;
    padding: 8px 10px;
    margin-right: 40px;
}
.see-more-fruit:hover {
    background-color: #fff;
    color: #ffa500;
    border: 1px solid #ffa500;
}
.cookie-alert-all {
    font-size: 13px;
    padding: 20px 0px;
    background-color: #07C044;
    position: fixed;
    width: 100%;
    margin: auto auto;
    bottom: 0px;
    width: 100%;
    color: whitesmoke;
    z-index: 99999;
    opacity: 0.9;
}
.cookie-alert-content {
    padding: 0px 0px 0px 20px;
}
.cookie-accept {
    color: #222;
    background-color: #07C044;
    padding: 5px 10px;
    border: 1px solid #222;
}
.cookie-accept:hover {
    color: whitesmoke;
    background-color: #222;
}
.cprt {
    padding: 20px 0px;
    margin-top: 60px;
    background-color: #fff;
    box-shadow: 0px -2px 2px 0 #ddd;
    color: #555;
}
.cprt-fix {
    padding: 20px 0px;
    margin-top: 60px;
    background-color: #222;
    color: #f5f5f5;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
/***/

/* Signup */

/***/
.g-recaptcha {
    margin-top: 15px;
}
.pd-10 {
    padding: 10px 20px;
}
.pd-5 {
    padding: 10px 20px;
}
.pd-10-two {
    padding: 10px 0px 10px 20px;
}
.sign-create-sub {
    font-weight: 400;
    font-size: 32px;
    margin: 20px 0px;
}
.sign-cont {
    max-width: 576px;
    margin: 30px auto 100px auto;
}
.f-in-div {
    margin-bottom: 10px;
}
.sign-cont form button {
    margin: 5px 0px;
    border: 0px;
    width: 100%;
    cursor: pointer;
    padding: 13px;
    background-color: #07C044;
    color: #eee;
}
.sign-cont form button:disabled {
    cursor: default;
    background-color: rgba(7, 192, 68, 0.8);
}
.s-pass {
    width: 47.5%;
}
.s-pass-bet {
    width: 5%;
}
.sign-cont form label {
    font-size: 14px;
    font-weight: 600;
}
.sign-cont form input {
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    box-sizing: border-box;
}
.form-inpt {
    width: 100%;
    padding: 8px 33px 8px 5px;
}
.form-pass {
    width: 100%;
    padding: 8px 5px;
}
.em-dom-sug {
    display: none;
    font-size: 14px;
    position: relative;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    padding: 2px 5px;
    left: 20px;
    cursor: pointer;
}
.correct-tick {
    position: absolute; 
    right: 8px; 
    top: 8px; 
    color: #07C044; 
    font-size: 20px;
}
.small-loader {
    animation: small-loader 1.5s linear infinite;
    color: #333;
}
.small-load {
    animation: small-loader 1.5s linear infinite;
}
@keyframes small-loader{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.err-mssg {
    display: inline-flex;
    margin-top: 3px;
    font-size: 12px;
    color: #b00;
}
.tncond {
    font-size: 12px;
}
/* input[name=name]:focus{
    box-shadow: #b00 0px 0px 2px 2px;
} */
.checkbox-label {
    display: block;
    width: 100px;
    position: relative;
    padding-left: 25px;
    margin: 15px 0px 20px 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    opacity: 0
}
.check-span {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 17px;
    height: 17px;
}
.checkbox-label:hover input ~ .check-span {
    border-color: #555;
}
.checkbox-label input:checked ~ .check-span {
    background-color: #07C044;
}
.check-span:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-label input:checked ~ .check-span:after {
    display: block;
}
.checkbox-label .check-span:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Profile */
.profile-pp {
    position: relative; 
    width: 200px;
    width: 200px;
    margin: 0px 10px;
}
.pp-upload {
    font-size: 14px;
    position: absolute;
    bottom: 4px;
    left: 0px;
    box-sizing: border-box;
    padding: 6px 10px;
    width: 100%;
    background-color: rgba(7, 192, 68, 0.9);
    color: #fefefe;
    margin: 0px 10px;
}
.pp-upload:hover{
    background-color: rgba(7, 192, 68, 1);
    transition: background-color 0.2s;
}
.profile-detail{
    margin-left: 50px;
}
.profile-detail-name {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 0px 20px 10px 0px;
    font-size: 1.2em;
}
.profile-detail-name a{
    font-size: 0.75em;
    border: 1px solid #0099FF;
    padding: 5px 10px;
}
.profile-detail-name a:hover{
    border: 1px solid rgb(7, 101, 163);
    color: rgb(7, 101, 163);
}
.mb-10{
    margin-bottom: 10px;
}
.profile-detail-name i{
    font-size: 0.7em;
    position: relative;
    top: -2px;
}
/*.profile-box{}*/
.dis-color {
    color: #777;
}
#post {
    padding: 10px 0px 10px 0;
    margin-right: 10px;
}
.prfl-box-ttl {
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.prfl-box-ttl:hover {
    border-bottom: 2px solid #ccc;
}
.prfl-active {
    border-bottom: 2px solid #07C044 !important;
    font-weight: 600;
}
.prfl-content {
    padding: 10px;
}
.prfl-box-content ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.prfl-box-content li{
    margin: 15px 0;
}
.post-ttl{
    display: block;
    font-weight: 600;
    color: #222;
}
.post-date {
    color: #555;
}
.post-edit, .post-del {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
}
.post-del {
    color: #b00;
}
#my-account-content a{
    display: block;
    margin: 10px 0;
}
#add-post-modal, #change-name-modal, #change-password-modal, #change-phone-loc-desc-modal {
    min-height: 100%;
    position: absolute;
    z-index: 99;
    top: 0px;
    display: block;
    animation-name: animationtop;
    animation-duration: 0.6s;
    -webkit-animation-name: animationtop;
    -webkit-animation-duration: 0.6s;
}
@-webkit-keyframes animationtop {
    from {top: -500px; opacity: 0}
    to {top: 0; opacity: 1}
}
@keyframes animationtop {
    from {top: -500px; opacity: 0}
    to {top: 0; opacity: 1}
}
#add-post-modal input, #change-name-modal input, #change-password-modal input, #change-phone-loc-desc-modal input {
    width: 100%;
    padding: 10px;
    border: 1px solid #07C044;
}
#add-post-modal textarea, #change-phone-loc-desc-modal textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #07C044;
}
#add-post-modal label, #change-name-modal label, #change-password-modal label, #change-phone-loc-desc-modal label {
    padding: 5px 0px;
    display: block;
}
.update-btn {
    padding: 15px 25px;
    cursor: pointer;
    background-color: #07C044;
    color: #fff;
    border: 0px;
    box-shadow: 0px 2px 4px green;
}
.update-btn:hover{
    box-shadow: 0px 2px 6px green;
}
.update-btn:disabled{
    opacity: 0.85;
}
#my-account-content, #records-content {
    display: none;
}
.modal-close {
    width: auto;
    padding: 0px;
    color: #222;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 70px;
    right: 15px;
    z-index: 100;
}

.bip-modal {
    position: absolute;
    overflow: auto;
    z-index: 999999;
    left: 0px;
    top: 0px;
    width: 100%;
    max-height: 100%;
    background-color: #ccc;
}

/* Posts */
.post-edit-del a{
    display: inline-block;
    width: 60px;
    padding: 5px 0;
    border: 1px solid #777;
    color: #555;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.post-edited{
    display: inline-block;
    padding: 5px 0;
    width: 50%;
    cursor: pointer;
    border: 1px solid #0099ff;
    color: #0099ff;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.post-edited:hover{
    color: #eee;
    background-color: #0099ff;
}
.post-edit-del a:last-child{
    color: #ff4a4a;
}
.post-edit-del a:hover{
    border: 1px solid #000;
}
.post-sub-ttl {
    font-size: 1.1em;
    margin: 10px 0px 5px 0px;
    font-weight: 600;
}
.more-comments {
    margin-top: 10px;
    display: block;
    padding: 8px 0px;
    text-decoration: underline;
    color: teal;
    cursor: pointer;
}
.more-comments:hover {
    text-decoration: none;
}
#write-comments {
    width: 100%;
    display: flex;
    margin-top: 25px;
    position: relative;
    min-width: 420px;
}
#write-comment-txtarea {
    height: 35px;
    width: 100%;
    min-width: 366px;
    padding: 7px 90px 7px 15px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 23px;
}
#write-comment-inpt:focus, #write-comment-txtarea:focus, .reply-txtarea:focus{
    box-shadow: none;
}
.reply-inpt-box {
    display: none;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    min-width: 340px;
    margin-top: 15px;
}
.reply-txtarea {
    box-sizing: border-box;
    width: 100%;
    min-width: 280px;
    padding: 7px 47px 7px 10px;
    border: 1px solid #555;
    border-radius: 23px;
}
.rep-btn-min {
    min-width: 280px;
}
#reply-btn {
    background-color: #ffa500;
    color: #111;
    border: 0px;
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    border-radius: 0px 23px 23px 0px;
    cursor: pointer;
}
.replies-in {
    max-height: 300px;
    overflow: auto;
}
#comment-btn {
    color: #111;
    background-color: #ffa500;
    border: 0px;
    border-radius: 0 23px 23px 0;
    cursor: pointer;
    height: 100%;
    display: none;
    position: absolute;
    right: 0px;
    top: 0;
}
#comment-btn:disabled, #reply-btn:disabled {
    cursor: auto;
    color: #555;
    background-color: #ffa500;
    opacity: 0.85;
}
.comment-menu span {
    display: inline-block;
    width: 3px;
    height: 3px;
    border: 1px solid #0099FF;
    border-radius: 50%;
    vertical-align: middle;
}
#cancel-edit {
    position: absolute;
    right: 0px;
    bottom: -20px;
    background-color: transparent;
    color: #07C044;
    text-decoration: underline;
}
#cancel-edit:hover{
    text-decoration: none;
}
.new-comments-p {
    padding: 8px;
    box-sizing: border-box;
    background-color: #ddd;
    margin: auto auto;
    cursor: pointer;
    text-align: center;
    color: #0099FF;
    margin-top: 20px;
}
.b-w-min {
    min-width: 366px;
}
.la-cm-of-pst {
    background-color: #fff;
    animation-name: la-cm-of-pst;
    animation-duration: 2s;
}
#cm-mn-op {
    position: absolute;
    background-color: red;
}
.rpl-del {
    color: #c00;
    background-color: transparent !important;
    font-size: 14px;
    margin-left: 20px;
}
.more-replies {
    display: block;
    padding: 8px 0px;
    text-decoration: underline;
    color: teal;
    cursor: pointer;
}
.more-replies:hover {
    text-decoration: none;
}
@keyframes la-cm-of-pst {
    from {
        background-color: #07C044;
    }
}
/* Search page*/
.search-content {
    width: 100%;
    color: #333;
    box-sizing: border-box;
    padding: 10px;
}
.no-of-srch-res {
    margin: 0;
    margin-bottom: 20px;
}
.no-of-srch-res q{
    color: #000;
    font-weight: 600;
}
.sort-by {
    display: flex;
    justify-content: flex-end;
}
.sort-by>div{
    border-bottom: 1px solid #000;
}
.sort-by label{
    font-weight: 600;
}
#sort-by-select {
    padding: 10px 5px;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    color: #333;
}
.srch-tabs {
    max-width: 950px;
    margin: auto auto;
    margin-top: 20px;
    display: flex;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.srch-tabs::-webkit-scrollbar { 
    display: none;
}
.srch-tabs>a{
    display: block;
    color: #333;
    margin-right: 30px;
    padding: 10px 0;
    cursor: pointer;
}
.srch-tabs>a:hover{
    border-bottom: 1px solid #000;
}
.srch-tab-active {
    border-bottom: 1px solid #000 !important;
    cursor: default !important;
    pointer-events: none !important;
}
.srch-result-cont {
    margin-top: 20px;
}
.srch-tab-users {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin: 10px 0;
    color: #333;
    box-shadow: 0 0 10px #ccc;
}
.srch-tab-users:hover{
    box-shadow: 0 0 30px #ccc;
}
.srch-tab-users:first-child {
    margin-top: 30px;
}
.srch-tab-users img {
    width: 100%;
    max-width: 125px;
    height: 100%;
    max-height: 125px;
    align-self: center;
}
.srch-tab-users .cont {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 5px;
    box-sizing: border-box;
}
.srch-tab-users .cont>div:first-child {
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 600;
}
.srch-tab-users .cont>div {
    margin-top: 5px;
}

/* Loading */
.load-cic {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(1px);
}
.load-cic > span {
    display: inline-block;
    margin-right: 5px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: teal;
    animation: load-cic 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes load-cic {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

/* Another load */
.load-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.load-ellipsis span {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.load-ellipsis span:nth-child(1) {
    left: 8px;
    animation: load-ellipsis1 0.6s infinite;
}
.load-ellipsis span:nth-child(2) {
    left: 8px;
    animation: load-ellipsis2 0.6s infinite;
}
.load-ellipsis span:nth-child(3) {
    left: 32px;
    animation: load-ellipsis2 0.6s infinite;
}
.load-ellipsis span:nth-child(4) {
    left: 56px;
    animation: load-ellipsis3 0.6s infinite;
}
@keyframes load-ellipsis1 {
    0% {
    transform: scale(0);
    }
    100% {
    transform: scale(1);
    }
}
@keyframes load-ellipsis3 {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(0);
    }
}
@keyframes load-ellipsis2 {
    0% {
    transform: translate(0, 0);
    }
    100% {
    transform: translate(24px, 0);
    }
}

/* Load */
.load-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.load-roller div {
    animation: load-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.load-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.load-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.load-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.load-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.load-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.load-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.load-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.load-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.load-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.load-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.load-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.load-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.load-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.load-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.load-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.load-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.load-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes load-roller {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}


/* Own load */
.my-load {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #07C044;
    border-top: 1px solid transparent;
    border-radius: 50%;
    animation: my-load 1s infinite ease-in-out;
}
.my-small-load {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #07C044;
    border-top: 1px solid transparent;
    border-radius: 50%;
    animation: my-load 1s infinite ease-in-out;
}

@keyframes my-load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 1120px) {
    .w-25 {
        width: 33.33%;
    }
}

@media screen and (max-width: 850px) {
    .fl-rev-850 {
        flex-wrap: wrap-reverse;
    }
    .w-25 {
        width: 50%;
    }
    .w-60 {
        width: 100%;
    }
    .w-60-same {
        width: 100%;
    }
    .w-25-md {
        width: 100%;
    }
    .w-75 {
        width: 100%;
    }
    .w-40 {
        width: 100%;
    }
    .hd-3{
        width: 8%;
    }
    .hd-2{
        width: 92%;
    }

    .hd-cata, .log-sign, .lang{
        display: none;
    }
    .log-b-sign{
        display: none;
    }
    .catag-b-med {
        display: none;
    }
    .set-cont {
        left: -110px;
    }
    #ar-o-cat {
        left: 116px; 
    }
    .search-w {
        width: 95%;
        margin: 0px 15px;
    }
    .search-inpt {
        max-width: 100%;
    }
    #menu-btn {
        display: block;
    }

}

@media screen and (max-width: 620px) {
    .veg-card-main {
        width: 220px;
        height: 270px;
        border: 1px solid grey;
        margin: 20px auto;
    }
    .veg-card-thumb {
        height: 120px;
        width: 123px;
        margin: 0px 45px;
    }
    .veg-ttl {
        padding:7px;
    }
    .up-desc {
        font-size: 12px;
        font-weight: 600;
    }
    .veg-name-of-card {
        font-size: 14px;
        padding: 5px;
    }
    .profile-detail{
        margin-left: 20px;
    }
    .profile-pp {
        width: 170px;
        height: 170px;
    }
    .pp-upload {
        bottom: 0px;
    }
    
}

@media screen and (max-width: 556px) {
    .w-40 {
        width: 100%;
    }
    .w-50 {
        width: 100%;
    }
    .w-75-mg {
        width: 100%;
    }
    .w-60 {
        width: 100%;
    }
    .w-60-mg {
        width: 60%;
    }
    .w-50-mg {
        width: 50%;
    }
    .real-modal-container{
        max-width: 300px;
    }
    .modal-img-cont div img {
        width: 120px;
        height: 120px;
    }
    .search-w {
        display: none;
    }
    .mb-srch-icon  {
        display: block;
    }
    .notif-cont {
        right: -20px;
    }
    #notificaion-cont {
        width: 320px;
    }
    #ar-o-notif {
        right: 35px; 
    }
    
    /* Now content */
    .actual-content {
        max-width: 100%;
        margin: 20px auto;
    }
    .veg-main {
        padding: 10px;
    }
    .veg-ttl {
        padding: 5px;
        font-size: 17px;
    }
    .veg-card-main {
        width: 180px;
        height: 215px;
        border: 1px solid grey;
        margin: 13px auto;
    }
    .veg-card-thumb {
        height: 120px;
        width: 123px;
        margin: 0;
    }
    .up-desc {
        padding: 5px 10px;
    }
    .veg-name-of-card {
        padding: 5px;
    }
    .veg-name-price-mb {
        font-size: 15px;
        padding-left: 8px;
        text-align: left;
    }

    /* Signup */
    .sign-cont {
        padding: 0px 10px;
        font-size: 28px;
    }
    .correct-tick {
        right: 6px; 
        top: 12px; 
        font-size: 20px;
    }
    .err-mssg {
        margin-top: 0px;
    }
    .f-in-div {
        margin-bottom: 3px;
    }
    #validate-signup .f-in-div p {
        margin: 0;
        padding: 0;
        margin-top: -8px;
    }

    /* Profile */
    .chk {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .pp-n-detail {
        flex-wrap: wrap;
    }
    .profile-pp {
        width: 150px;
        height: 150px;
        margin: -10px 0px 10px 0px;
    }
    .pp-upload {
        bottom: 0px;
        padding: 3px 10px;
        margin: -10px 0px 10px 0px;
    }
    .profile-detail{
        margin-left: 20px;
    }
    .profile-detail-name {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-weight: 600;
        margin: 0px 20px 10px 0px;
        font-size: 1.2em;
    }

    /* Post */
    .rep-btn-min, .b-w-min {
        min-width: 0px;
    }
    #write-comment-inpt, #write-comment-txtarea {
        min-width: 0px;
    }
    #write-comment-txtarea {
        padding: 7px 73px 7px 15px;
    }
    #write-comments, .reply-inpt-box, .reply-txtarea {
        min-width: 0px;
    }
    .more-replies {
        margin-top: 5px;
        justify-self: center;
        padding: 5px 10px;
        display: inline-block;
        font-size: 0.85em;
        border-radius: 10px;
        text-decoration: none;
        background-color: teal;
        color: #fff;
        cursor: pointer;
    }
    .more-replies:hover {
        text-decoration: none;
    }

    .load-cic > span {
        background: #fff;
    }
    /* Search */
    .sort-by>div{
        margin-top: 10px;
    }
}



@media screen and (max-width: 376px) {
    .veg-card-main {
        width: 160px;
        height: 215px;
        border: 1px solid grey;
        margin: 13px auto;
    }
    .veg-card-thumb {
        width: 160px;
    }
    .notif-cont {
        right: -30px;
    }
    #notificaion-cont {
        width: 320px;
    }
    #ar-o-notif {
        right: 46px; 
    }
    /* Profile */
    .profile-pp {
        width: 140px;
        height: 140px;
    }
    
    /* Post */
}

@media screen and (max-width: 360px) {
    .notif-cont {
        right: -37px;
    }
    #ar-o-notif {
        right: 51px; 
    }
}

@media screen and (max-width: 320px) {
    .real-modal-container{
        max-width: 250px;
    }
    .frutonp-logo-text {
        font-size: 20px;
        margin-left: -10px;
    }
    .logo-width {
        width: 35px;
        margin-left: 5px;
    }
    .notif-cont {
        right: -40px;
    }
    #notificaion-cont {
        width: 286px;
    }
    #ar-o-notif {
        right: 55px; 
    }

    /* Actual content */
    .veg-card-main {
        width: 140px;
    }
    .veg-card-thumb {
        height: 110px;
        width: 140px;
    }
    .up-desc {
        font-weight: 500;
        padding: 2px 5px;
    }
    .veg-name-price-mb {
        padding: 3px;
    }

    /* Profile */
    .profile-pp {
        width: 125px;
        height: 125px;
    }
    
}

@media screen and (max-width: 320px) {
    .real-modal-container{
        max-width: 250px;
    }
    .frutonp-logo-text {
        font-size: 20px;
        margin-left: -10px;
    }
    .logo-width {
        width: 35px;
        margin-left: 5px;
    }
    .notif-cont {
        right: -40px;
    }
    #notificaion-cont {
        width: 286px;
    }
    #ar-o-notif {
        right: 55px; 
    }

    /* Actual content */
    .veg-card-main {
        width: 140px;
    }
    .veg-card-thumb {
        height: 110px;
        width: 140px;
    }
    .up-desc {
        font-weight: 500;
        padding: 2px 5px;
    }
    .veg-name-price-mb {
        padding: 3px;
    }

    /* Profile */
    .profile-pp {
        width: 125px;
        height: 125px;
    }
}