{% extends 'profile_base.html' %}
{% load static %}
{% load posts_extras %}
{% block title %}Profile | Frutonp - Nepal's Online fruits and vegetables sharing center{% endblock title %}

{% block content %}
<div class="modal-close add-post">
    &times;
</div>
<div class="w-100" id="add-post-modal">
        <div class="pd-10">
            <div class="w-100">
                <h2 class="text-center sticky" style="margin: 80px 0px 60px 0px;">Add Post</h2>
                <div class="w-75 w-75-mg" style="margin: auto auto;">
                    <form style="margin: 15px 0px;" action="{% url 'addPost' %}" method="POST" enctype="multipart/form-data" id="add-post-form">
                        {% csrf_token %}
                        <div class="pd-5">
                            <div>
                                <div>
                                    <label for="vegetableId">Fruit / Vegetable<span style="color: red;">*</span></label>
                                </div>
                                <select name="foodType" value="{{ post.foodType }}">
                                    <option value="" selected disabled="disabled">Choose One</option>
                                    <optgroup class="optgroup" label="Fruits">
                                        {% for fruit in fruits %}
                                            <option value="{{ fruit }}">{{ fruit|get_display_food_choice }}</option>
                                        {% endfor %}
                                    </optgroup>
                                    <optgroup class="optgroup" label="Vegetables">
                                        {% for veg in vegs %}
                                            <option value="{{ veg }}">{{ veg|get_display_food_choice }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <span class="err-mssg">
                                {{err.foodType}}
                            </span>
                        </div>
                        <div class="pd-5">
                            <label for="priceId">Price<span style="color: red;">*</span></label>
                            <input type="number" placeholder="Price with respect to quantity..." name="price" id="priceId" value="{{ post.price }}" min="0">
                            <span class="err-mssg err-prc">
                                {{err.price}}
                            </span>
                        </div>
                        <div class="pd-5">
                            <div>
                                <label for="quantityId">Quantity<span style="color: red;">*</span></label>
                            </div>
                            <select name="quantity" value="{{ post.quantity }}">
                                <option value="" selected disabled="disabled">Choose One</option>
                                {% for q in quantity %}
                                    <option value="{{ q }}">{{ q|get_display_quantity_choice }}</option>
                                {% endfor %}
                            </select>
                            <span class="err-mssg">
                                {{err.quantity}}
                            </span>
                        </div>
                        <div class="pd-5">
                            <div>
                                <label for="descriptionId">Description<span style="color: red;">*</span></label>
                            </div>
                            <textarea placeholder="Post Description..." style="border: 1px solid rgb(7, 192, 68);" name="desc" id="descriptionId" cols="33" rows="10" placeholder="Description here...">{{ post.desc }}</textarea>
                            <span class="err-mssg err-desc">
                                {{err.desc}}
                            </span>
                        </div>
                        <div class="pd-5">
                            <label for="phone2">Phone2</label>
                            <input type="text" name="phone2" id="phone2" value="{% if post.phone2 %}{{ post.phone2 }}{% endif %}">
                            
                            <small>
                                <span class="err-mssg err-phn2">
                                    {{err.phone2}}
                                </span>
                                Phone number from your profile will be added as secondary choice in post.
                            </small>
                        </div>
                        <div class="pd-5">
                            <label for="locationId">Location</label>
                            <input type="text" name="location" id="locationId" value="{% if post.location %}{{ post.location }}{% endif %}">
                            <small>Location from your profile will be added by default.</small>
                        </div>
                        <div class="pd-5">
                            <button name="post" class="update-btn">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="load-thumb">
        <div class="real-modal">
            <div class="real-modal-container" tabindex="0" style="display: flex; justify-content: center; padding: 30px;">
                <div class="load-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
    <div>
        <form action="/" id="post-to-sel-thum" method="POST">
            {% csrf_token %}
            <input type="hidden" name="hide" value="//"/>
        </form>
    </div>
{% endblock content %}
    
{% block scripts %}
    <div>
        <script>
            $(document).ready(function(){
                showPop = Pop.showPop;
                hidePop = Pop.hidePop;
                popShown = Pop.popShown;
                $("#add-post-modal select[name=foodType]").val($("#add-post-modal select[name=foodType]").attr("value"));
                $("#add-post-modal select[name=quantity]").val($("#add-post-modal select[name=quantity]").attr("value"));
                $("#add-post-modal select[name=expire]").val($("#add-post-modal select[name=expire]").attr("value"));

                $("input").keyup(function(){
                    $(".update-btn").removeAttr("disabled");
                });
                $("#add-post-form").submit(function(e){
                    var err = [];
                    var price = $("input[name=price]").val();
                    var desc = $.trim($("textarea").val());
                    var phone2 = $("input[name=phone2]").val();
                    
                    if(desc.length == 0){
                        err[1] = true
                        $(".err-desc").text("Must fill description");
                    } else {
                        $(".err-desc").text("");
                    }

                    if(price[0]=="-"){
                        price = price.slice(1);
                    }
                    if(isNaN(parseInt(price))){
                        err[2] = true;
                        $(".err-prc").text("Must be number only")
                    } else {
                        $(".err-prc").text("")
                    }

                    if(!((/^\d+$/.test(phone2) && phone2.length == 10) || phone2.length == 0)){
                        err[4] = true
                        $(".err-phn2").text("Must be 10 digit numbers");
                    } else {
                        $(".err-phn2").text("");
                    }
                    e.preventDefault();
                    
                    if(err.length == 0){
                        var formData = new FormData(this);
                        var path_ = window.location.pathname;

                        var fileUp = $.ajax({
                            url: `${path_}`,
                            type: 'POST',
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false
                        });
                        showPop();
                        $(".real-modal-container").addClass("back-trans fl-mid");
                        fileUp.done(function(result){
                            if(result.success == true){
                                path_arr = path_.split('/')
                                $(location).attr('href', `/${path_arr[1]}/${path_arr[2]}/`);
                            } else {
                                hidePop();
                                $("span.err-mssg").html("");
                                for (var [key, value] of Object.entries(result)) {
                                    $(`[name=${key}]`).closest(".pd-5").find("span.err-mssg").html(value);
                                }
                            }
                        });
                        fileUp.fail(function(xhr, status, error){
                            console.log(`${xhr.status} ${status} (${error})`);
                            hidePop();
                        });
                    }
                });
            });
        </script>
    </div>

{% endblock scripts %}